*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;

}
/* common class start */
.container{
    width: 81%;
    margin: 0 auto;
}
.tech{
    color:white;
    font-weight: 1000;
    font-size: 40px;
}
.wave{
    background-image:-webkit-linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(40deg,#F7E93F,#FB09B4,#9100F8);
    color:#ffff;
    font-size:20px;
}
.btn2{
    padding: 15px 30px;
    background:none;
    border:1px solid #00ff88;
    color: #00ff88;
    border-radius: 50px;
    font-size:20px;

}
.batch{
    padding:8px 16px;
    border: none;
    border-radius: 30px;
    background-color: #00ff88;
    color: black;
    font-size: 18px;
    font-weight: 600;
    /* box-shadow: 2px 2px 3px 1px #00ff88 ; */
    /* width:30%; */
}
.heading{
    font-size: 40px;
    color:#ffff;
}
.heading-2{
    margin-bottom: 10px;
    color:#ffff;
}
.container h1{
    text-align: center;
}
.container p{
    color:#b9b5b5;
}
#clock{
    float: left;
}
/* common class end */
/* Hero-nav-section */
#Hero-nav{
    background-color: #1a0b2e;
}
#Hero-nav #nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

}
#Hero-nav .container .tech{
    color:white;
    font-weight: 1000;
    font-size: 40px;
}
#Hero-nav .wave{
    background-image:-webkit-linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nav ul{
    list-style-type: none;
    display:flex;
}
#nav ul li a{
    text-decoration: none;
    padding: 14px 20px;
    color: rgb(245, 240, 240);
    font-size: 20px;
    font-weight: 500;
}
#Hero-nav #nav .btn{
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(40deg,#F7E93F,#FB09B4,#9100F8);
    color:#ffff;
    font-size:20px;
}
/* nav-section-end */
/* Hero-Header-section start */
#Hero-header{
    background-image:url(assets/hero-bg.png);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#Hero-header #spacial-container{
    margin: 0 auto;
    /* border: 1px solid blue; */
    /* position: fixed; */
    height: 600px;
    width: 81%;
    position: relative;
}
#spacial-contant{
    width:30%;
    height: 320px;
    background-image: url(assets/hero-circle.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    position:absolute;
    left: 360px;
    top:60px;
    /* background-position: fixed; */
}
#techwave-text{
    /* border: 1px solid white; */
    text-align: center;
    position: relative;
    top:400px;
}
#techwave-text h1{
    font-size: 50px;
    color:#ffff;
    font-weight: 800;
}
#techwave-text p{
    color:#b9b5b5;
    margin-bottom: 25px;
}
#spacial-contant #newbtn .batch{
    position: absolute;
    left: 200px;
    width: 25%;
    animation-name:myanimation;
    animation-duration: 4s;
    animation-iteration-count:4;
    border-radius: 30px;
}
/* Animation work */
@keyframes myanimation{
    0% { background-color: #00ff88; left:30px;top:0px;}
    25% { background-color: yellow; left:60px;top:0px;}
    50% { background-color:#ffff;left:110px;top:0px;}
    75% { background-color: #e96122; left:160px;top: 0px;}
    100%{ background-color: #00ff88; left:200px;top:0px}
}
#spacial-contant #hero-circle{
    width: 40%;
    height: 200px;
    background-image: url(assets/microphone.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* border: 2px solid rgb(11, 201, 11); */
    position: absolute;
    left:95px;
    top:50px;
}
/* About-section */
#Hero-about{
    background-color: #1a0b2e;
}
#Hero-about .about-text{
    text-align: center;
    padding-top: 80px;

}
#Hero-about .about-text p{
    color:#b9b5b5;
    /* line-height: 20px; */
    padding-top:10px;
}
#rating .card-box{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
    padding-bottom:80px;
}
#rating .number{
    color:#00ff88;
    font-size: 40px;
    font-weight: 900;
}
#rating p{
    color:#b9b5b5;
    font-size: 16px;
}
/* about-section-complete */
/* Hero-Grid-section */
#Hero-Grid{
    background-color: #492c6d;
    height: 930px;
}
#Hero-Grid #Grid .heading{
    padding-top: 120px;
    text-align: center;
    margin-bottom: 30px;
}
#Hero-Grid #Display{
    display: grid;
    gap:20px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px);
    text-align: none;
}
#Display .div{
    background-color: #35195a;
    /* color:#ffff; */
    border-radius: 20px;
    border: none;
    padding:30px;
}
#Display #grid-1{
    grid-row: span 2;
}
#Display #grid-2{
    grid-column: span 2;
}
#Display #grid-4{
    grid-column: span 2;
}
#Display .heading-2{
    margin-bottom: 10px;
    color:#ffff;
}
#Display p{
    color:#b9b5b5;
}
/* Grid-section-complete */
/* Feature -section start */
#Feature-section{
    background-color:#1a0b2e ;
}
#Feature-section h1{
    padding-top: 100px;
    margin-bottom: 30px;
}
#video-section .video-card{
    /* border: 1px solid red; */
    border-radius: 20px;
    width: 400px;
    background-color:#35195a ;
}
#video-section{
    display: flex;
    justify-content: space-between;
    /* height: 300px; */
    gap:20px;
}
#video-section .video-card iframe{
    width: 100%;
    border: none;
}
#video-section .heading-2{
    padding: 10px;
}
#video-section .video-card #clock {
    padding:10px;
}
#video-section .video-card p{
    padding: 0px 10px;
}
/* complete Feature section */
#Host-section{
    background-color: #1a0b2e;
    height: 550px;
}
#Host-section .heading{
    padding-top: 100px;
}
#Host-section .host-box{
    background-color: #35195a;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    /* border: 1px solid red; */
    border-radius: 20px;
    gap:20px;
}
#Host-section #social-card{
    display: flex;
    gap: 30px;
    /* justify-content: space-around; */
    /* border: 1px solid red; */
}
#social-card .S-card{
    border: 1px solid rgb(201, 3, 201);
    padding: 10px;
    border-radius: 100%;
}
#Host-section .host-box p{
    margin-bottom: 30px;
}
#social-card .S-card img{
    size: 100%;
}
#Host-section h1{
    margin-bottom: 40px;
}
/* complete-host-section */
/* footer-section */
#Footer-section{
    background-image: url(assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%,100%;
    height: 300px;
    background-position: fixed;
}
#Footer-section .footer-card img{
    float: left;
    gap:0px;
}
#Footer-section .footer-card{
    display: flex;
    gap:40px;
    /* justify-content: space-between; */
}
#sub-container{
    /* border: 1px solid red; */
    width: 50%;
    height: auto;
    text-align: center;
    position: relative;
    left: 260px;
    top:85px;
}
#sub-container *{
    margin-bottom: 8px;
}
#sub-container .tech{
    font-size: 60px;
}
/* complete footer */