*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Inter", sans-serif;

}
/* common class start */
.container{
    width: 81%;
    margin: 0 auto;
}
.tech{
    color:white;
    font-weight: 1000;
    font-size: 40px;
}
.wave{
    background-image:-webkit-linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn{
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(40deg,#F7E93F,#FB09B4,#9100F8);
    color:#ffff;
    font-size:20px;
}
.btn2{
    padding: 15px 30px;
    background:none;
    border:1px solid #00ff88;
    color: #00ff88;
    border-radius: 50px;
    font-size:20px;

}
.batch{
    padding:8px 16px;
    border: none;
    border-radius: 30px;
    background-color: #00ff88;
    color: black;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 2px 2px 3px 1px #00ff88 ;
    


}
/* common class end */
/* Hero-nav-section */
#Hero-nav{
    background-color: #1a0b2e;
}
#Hero-nav #nav{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;

}
#Hero-nav .container .tech{
    color:white;
    font-weight: 1000;
    font-size: 40px;
}
#Hero-nav .wave{
    background-image:-webkit-linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#nav ul{
    list-style-type: none;
    display:flex;
}
#nav ul li a{
    text-decoration: none;
    padding: 14px 20px;
    color: rgb(245, 240, 240);
    font-size: 20px;
    font-weight: 500;
}
#Hero-nav #nav .btn{
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    background-image: linear-gradient(40deg,#F7E93F,#FB09B4,#9100F8);
    color:#ffff;
    font-size:20px;
}
/* nav-section-end */
#Hero-header{
    background-image:url(assets/hero-bg.png);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: 100%;
}
#Hero-header #hero-circle{
    
    /* background-repeat: no-repeat;
    border: 2px solid white; */
}
#Hero-header #spacial-container{
    margin: 0 auto;
    border: 1px solid blue;
    /* position: fixed; */
    height: 600px;
    width: 81%;
    position: relative;
}
#spacial-contant{
    width:30%;
    height: 320px;
    background-image: url(assets/hero-circle.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* border: 2px solid red; */
    position:absolute;
    left: 360px;
    top:60px;
    /* background-position: fixed; */
}
#techwave-text{
    /* border: 1px solid white; */
    text-align: center;
    position: relative;
    top:400px;
}
#techwave-text h1{
    font-size: 50px;
    color:#ffff;
    font-weight: 800;
}
#techwave-text p{
    color:#807d7d;
    margin-bottom: 25px;
}
#spacial-contant #newbtn{
    position: absolute;
    right: 0px;
    /* border: 1px solid blueviolet; */
    width: 30%;
}
#spacial-contant #hero-circle{
    width: 40%;
    height: 200px;
    background-image: url(assets/microphone.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* border: 2px solid rgb(11, 201, 11); */
    position: absolute;
    left:95px;
    top:50px;

}